* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  background-color: transparent;
  outline: none;
}

*::selection {
  background-color: steelblue
}

:root {
  font-size: 16px;
  --border-primary: 1px solid rgba(105, 105, 105, 0.6);
  --color-primary: #141414;
  --color-secondary: rgba(105, 105, 105, 0.6);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* 300 - 400 - 700 */

html {
  scroll-behavior: smooth
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-primary);
  color: #fff;
}

a,
a:-webkit-any-Link,
a:-moz-any-link {
  color: #fff;
}


.fill-white {
  fill: #fff;
}